@mixin flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-vert-space {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

